.header-main {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04), 0 4px 16px rgba(0, 0, 0, 0.08);
  padding: 0 35px;
  display: flex;
  justify-content: space-between;
  color: white;
  background: #1F2326;
  height: 75px;
  width: 100%;
}

.header-main-links {
  margin: auto 0;
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.header-main-links a {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}

.header-main-user {
  width: 30%;
  margin: auto 0;
}

.header-main-user a {
  margin: 0 1rem;
}

.footer-main {
  margin-top: auto;
  background-color: #1F2326;
  height: 100px;
  width: 100%;
}

* {
  font-family: "Montserrat";
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin: 0;
}
